.errorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorTextContainer {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: black;
    box-shadow:inset 5px 5px 13px 4px lawngreen;
}
.errorText{
    color: antiquewhite;
    text-shadow:  1px 1px 6px black, 0 0 1em lawngreen, 0 0 0.2em lawngreen;
    text-align: center;
    height: 9em;
    font-size: 9em;
}
.errorComent{
    display: flex;
    justify-content:center;
    height: 34px;
    color: antiquewhite;
    font-size: 28px;
}
.errorIconContainer{
    color: antiquewhite;
    height: 34px;
   
}
.errorIconContainer svg {
    height: 34px;
    width: 34px;
}